body {
    margin: 0;
    background-color: lavenderblush;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: #333;
}

.padding-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.suhu-style {
    font-size: 20px;
    font-family: math;
    font-style: italic;
}

.fraction-style {
    font-size: 130%;
}

.form-btn {
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px; 
    color: white;
}

.form-btn-submit {
    background-color: greenyellow;
    color: black; 
}

.form-btn-reset {
    background-color: crimson;
}

.form-btn-reverse {
    background-color: lightskyblue;
}

input {
    width: 50%;
    height: 60px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 18px; 
    resize: none;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 10px 0; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    width: 50%;
    height: 75px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin: 10px 0; 
    color: #333;
}


@media screen and (max-width: 480px) {
    input, textarea {
        width: 90%; 
    }

    .form-btn {
        width: 100%; 
        padding: 15px;
    }
}
